.navContainer{
    background-color: #19A7CE !important;
}
.exit{
    width: 30px;
    height: auto;;
}
.logo{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.4rem;
}


/* 
#F6F1F1
#AFD3E2
#19A7CE
#146C94 */