.navContainer{
    background-color: #19A7CE !important;
    border-radius: 0 0 20% 20%;
}
.exit{
    width: 30px;
    height: auto;
}
.logo{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.4rem;
    color: #ede5e5 !important;
}


/* 
#F6F1F1
#AFD3E2
#19A7CE
#146C94 */